body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #a9c9cf;
}

.nav {
  background-color: #fff;
  margin-bottom: 35px;
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}


.lgnForm {
  padding: 50px;
background-color: #fff;
  width: 420px;
  height: 520px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;

}

.wrap {
  background: #a9c9cf;
}

.lgnForm h1 {
  color: #5a5a5a;
  font-size: 35px;  
  font-family: 'Shift', sans-serif;
  
}

.lgnForm label {
    color: #5a5a5a;
  
}

.lgnForm .change_link {
    color: #5a5a5a;
  font-size: 15px;  
  font-family: 'Shift', sans-serif;
  
}

.accountWrap {
   padding: 50px;
background-color: #fff;
  width: 80%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.statisticWrap{
   padding: 50px;
background-color: #fff;
  width: 80%;
  height: 500px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#avatar {
  width: 15%;
  height: 15%;
}
 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Змінити фото';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

form {
  margin-bottom: 10px;
}

.prWidth {
  width: 50%;
}


.progressWrap{
  padding: 50px;
background-color: #fff;
  width: 80%;
  height: 500px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.triangle{
  position: absolute;
   width: 0;
    height: 0;
    top:4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.triangle_down{
  position: absolute;
   width: 0;
    height: 0;
    top:-7px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.forPoint {
  position: absolute;
}

.image {
  height: 45%;
  width: 45%;
  margin-top: 20%;
  margin-left: 20%;
}


p {
  color: #5a5a5a;
  font-size: 18px;  
  font-family: 'Shift', sans-serif;
}

#attention .progress-bar {
  background-color: #ffd42a;
}

#memory .progress-bar {
  background-color: #5dc644;
}

#memory .triangle_down {
border-top: 8px solid #367527;
}

#memory .triangle {
border-bottom: 8px solid #367527;
}

#attention .triangle_down {
border-top: 8px solid #b67221;
}

#attention .triangle {
border-bottom: 8px solid #b67221;
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}

.statisticWrap .progress {
  height: 5px;
}


.statisticWrapForProc {
  padding: 50px;
  background-color: #fff;
  width: 80%;
  height: 500px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.myTabs li { 
    border-radius: 12px;
    height: 25px;
    display:inline;
    width: 150px;
    background-color: #fff;
    font-size: 12px;
    color: #5a5a5a;
  font-size: 18px;  
  font-family: 'Shift', sans-serif;   
    padding: 15px 10px;
    cursor: pointer;
}

.myTabs {
  width: 300px;
}


.gameWrap {
  background-color: #fff;
  height: 500px;
  margin-right: 7%;
  border-radius: 10px; 
}



.memoryTab p {
  color: #5a5a5a;
  font-size: 28px;
  margin-top: 16%;  
  font-family: 'Shift', sans-serif;
  cursor: pointer;

} 

.attentionTab p {
  color: #5a5a5a;
  font-size: 28px;
  margin-top: 16%;  
  font-family: 'Shift', sans-serif;
 cursor: pointer; 

} 

.myTabs .active {
  background-color: #c0cbd6;
  border: 1px solid white;
}

.active .attentionTab .row{
 background-color: #c0cbd6;
  border: 1px solid white;
  
}

.active .memoryTab .row{
 background-color: #c0cbd6;
  border: 1px solid white;
  
}

 .tabs .row  {
  
  margin-bottom: 5px;  
  background-color: white;
  border-radius: 10px;
}

.gamesRow {
  height: 40%;
  width: 90%;
  margin-top: 10px;
}

 

.gameBlock {
  height: 100%;

}

.gamePhoto {
  margin-top: 5%;
  
}

.gameDiv {
  margin-top: 5%;
  margin-left: 27%;
  
}

.error h1 {
  font-size: 60px;
  color: #5a5a5a;
}

.error h2 {
  font-size: 40px;
  color: #5a5a5a;
}

.error p {
  font-size: 30px;
}

.error li {
  font-size: 20px;
  color: #5a5a5a;
}


