<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formStyles.css">
</head>

<body>
<div class = "statisticWrap error">
  <h1>404</h1>
  <h2>Сторінку не знайдено</h2>
  <p>Сторінка, на яку ви намагаєтесь перейти, відсутня на нашому сайті</p>
  <ul>
    <li>перевірте правильність написання адреси</li>
    <li>поверніться на <a href = "index.html" >головну сторінку </a></li>
  </ul>
</div>
</body>
</html>