<!DOCTYPE html>
<html>
<head>
    <title>500</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formStyles.css">
</head>

<body>
<div class = "statisticWrap error">
  <h1>500</h1>
  <h2>Внутрішня помилка серверу</h2>
  <p>На жаль, вам заборонено доступ до цього ресурсу</p>
  <ul>
    <li>поверніться на <a href = "/" >головну сторінку </a></li>
  </ul>
</div>
</body>
</html>