<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formStyles.css">
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="/css_less/style.less" />
    <!-- LESS JavaScript компілятор -->
    <script rel = "/css_less/less.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<script>
    var level = parseInt({{level}});
</script>

<div class="nav">
      <div class="container">
        <ul class = "pull-left">
            <li><a href="/">Головна</a></li>
            <li><a href="/game">Вправи</a></li>
            <li><a href="/statistic">Статистика</a></li>
            <li><a href="/account">Аккаунт</a>
    
  </li>
<!--hidden шоб приховати-->
          </ul>
          <ul class = "pull-right">
            <div >
            <li><a href="/login">Вихід</a></li>
          </div>
            <div hidden="">
              <li><a href="/login">Вхід</a></li>
              <li><a href="/register">Реєстрація</a></li>
            </div>
        </ul>
      </div>
    </div>

<div id="skin" class = "gameDiv"><div id="game"></div></div>


</body>

</html>
<script src="/Scripts/phaser.min.js"></script>
<script src="/Scripts/StartScreen.js"></script>
<script src="/Scripts/LevelAchieved.js"></script>
<script src="/Scripts/LevelFailed0Tries.js"></script>
<script src="/Scripts/LevelFailedTries.js"></script>
<script src="/Scripts/play.js"></script>
<script src="/Scripts/menu.js"></script>
<script src="/Scripts/main.js"></script>