<!DOCTYPE html>
<html>
<head>
    <title>Статистика</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/jquery1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formStyles.css">
    <script src="/js/tabs.js"></script>
    <script>if((self.parent&&!(self.parent===self))&&(self.parent.frames.length!=0)){self.parent.location=document.location}</script>
    
</head>

<body>

     <div class="nav">
      <div class="container">
        <ul class = "pull-left">
            <li><a href="index.html">Головна</a></li>
            <li><a href="statistic.html">Статистика</a></li>
            <li><a href="account.html">Аккаунт</a></li>
          </ul>
      <ul class= "pull-right">
        <li><a href="index.html">Вихід</a></li>
      </ul>
</div>
</div>

<div class="tabs">
<div class="col-md-3 col-xs-3">
  <ul class="tabs__caption">
    <li class="active" style="display: inline">
      <div class = "attentionTab">
       <div class="row">
         <div class="col-md-5 col-xs-5"><img src="images/attention1.png" class = "image attention"></div>
         <div class="col-md-7 col-xs-7"><p>Увага</p></div>
       </div>
      </div>
    </li>
    <li style="display: inline">
      <div class = "memoryTab">
       <div class="row">
         <div class="col-md-5 col-xs-5"><img src="images/memory.png" class = "image attention"></div>
         <div class="col-md-7 col-xs-7"><p>Пам'ять</p></div>
       </div>
      </div>
    </li>
  </ul>
</div>

 <div class="tabs__content active">
    <div class = "gameWrap pull-right col-md-8 col-xs-8">
    <div class = "row gamesRow center-block">
     
      <div class="col-md-6 col-xs-6 gameBlock">
        <div class="row">
          <div class = "col-md-6"> <img src="./images/fireFlyjpg.jpg" class="img-responsive img-rounded gamePhoto" ></div>
        
        <h1>FireFlies</h1>
        <p>Об'єм уваги</p>
          <a href="FireFlies.html">Розпочати гру</a>
      </div>
      </div>

      <div class="col-md-6 col-xs-6 gameBlock">
        <div class="row">
          <div class = "col-md-6"> <img src="./images/fireFlyjpg.jpg" class="img-responsive img-rounded gamePhoto" ></div>
        
        <h1>FireFlies</h1>
        <p>Об'єм уваги</p>
          <a href="FireFlies.html">Розпочати гру</a>
      </div>
      </div>
  </div>
<hr>
 <div class = "row gamesRow center-block">
     
      <div class="col-md-6 col-xs-6 gameBlock">
        <div class="row">
          <div class = "col-md-6"> <img src="./images/fireFlyjpg.jpg" class="img-responsive img-rounded gamePhoto" ></div>
        
        <h1>FireFlies</h1>
        <p>Об'єм уваги</p>
          <a href="FireFlies.html">Розпочати гру</a>
      </div>
      </div>

  </div>

  </div>
</div>
  <div class="tabs__content">
    <div>
      <div class = "gameWrap pull-right col-md-8">
      
    </div>
    </div>
  </div>

</div>
</div>


</body>
</html>