<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Головна</title>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <!--<link rel="stylesheet" href="../static/style.css">-->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.css">-->

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <script rel = "/js/jquery.min.js"></script>
    <script rel = "/js/bootstrap.min.js"></script>


  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class = "pull-left">
            <li><a href="#">Головна</a></li>
            <li><a href="game.html">Вправи</a></li>
            <li><a href="statistic.html">Статистика</a></li>
            <li><a href="account.html">Аккаунт</a>
    
  </li>
<!--hidden шоб приховати-->
          </ul>
          <ul class = "pull-right">
            <div >
            <li><a href="login.html">Вихід</a></li>
          </div>
            <div hidden="">
              <li><a href="login.html">Вхід</a></li>
              <li><a href="register.html">Реєстрація</a></li>
            </div>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container" id = "opac">
        <h1>Ласкаво просимо</h1>
        <p>Вас вітає онлайн-сервіс “bMinded”</p>
        <div class = "pull-left">
      
        <a href="register.html" class="c" style = "color: white">Реєстрація</a>
      </div>
      </div>
    </div> 

    
    <div class="container">
    
    <div class = "row">
    
    
      <div class = "col-sm-6">
      <h3>Хто потребує наших тренувань ?</h3>
      <p>Тренування на нашому сайті будуть корисні людям різного віку. Школярі зможуть покращити свої успіхи в школі а також запобігти розладу дефіциту уваги. Люди середнього віку отримають поліпшення особистої продуктивності та ефективності, а також робитимуть менше помилок на робочому місці і триматимуть свій мозог у формі протягом дня. Літнім людям сайт забезпечить профілактику вікових розладів. </p>
    
      </div>
    <div class = "col-sm-6">
      <h3>Просто оберіть свою програму тренувань</h3>
      <p>Тренування на нашому сайті будуть корисні людям різного віку. Школярі зможуть покращити свої успіхи в школі а також запобігти розладу дефіциту уваги. Люди середнього віку отримають поліпшення особистої продуктивності та ефективності, а також робитимуть менше помилок на робочому місці і триматимуть свій мозог у формі протягом дня. Літнім людям сайт забезпечить профілактику вікових розладів. </p>
      </div>

    </div>
    
    <div class = "row">
    
    
      <div class = "col-sm-6">
      <h3>Як тренуватися</h3>
      <p>Складіть власну програму тренувань. Щоденна програма розвитку займає 15 хв на день. Слідкуйте за статистикою своїх тренувань та покращуйте свої показники.</p>
      </div>


    <div class = "col-sm-6" id = "marg">
      <h3>Ефект від тренувань</h3>
      <p>Тут буде написано про те що ігри які ми використовуємо розроблені з метою покращення діяльності головного мозку</p>
        </div>

    </div>
</div>
    <div id = "footer"></div>

  </body>
</html>