<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Реєстрація</title>
 <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/formStyles.css">

</head>
<body>
<div class="nav">
      <div class="container">
          <ul class = "pull-right">
              <li><a href="index.html">На головну</a></li>
        </ul>
      </div>
    </div>

	<div class="lgnForm"> 
	 <form autocomplete="on"> 
            <h1> Реєстрація </h1> 
           
            <div class="form-group">
	    		<input id="name_register" class = "form-control" required="required" type="text" placeholder="Ім'я"/>
	  		</div>

	  		 <div class="form-group">
	    		<input id = "surname_register" class = "form-control" required="required" type="text" placeholder="Прізвище"/>
	  		</div>
	
            <div class="form-group">
	    		<input id = "email_register" class = "form-control" required="required" type="email" placeholder="E-mail"/>
	  		</div>
           
            <div class="form-group">
	    		<input id = "password_register" class = "form-control" required="required" type="password" placeholder="Пароль"/>
	  		</div>
           
           <div class="form-group">
	    		<input id = "repeat_password_register" class = "form-control" required="required" type="password" placeholder="Повторіть пароль"/>
	  		</div>
            <div class="form-group">
    <p class="change_link">
			Маєте аккаунт ? 
			<a href = "login.html" class = "pull-right">Увійдіть</a>
		</p>
  </div>
  <button id = "button_register" type="submit" class="btn btn-primary btn-lg">Зареєструватись</button>
		</form>
	</div>
</body>
</html>