
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Реєстрація</title>
 <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/formStyles.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>
<body>
<div class="nav">
      <div class="container">
          <ul class = "pull-right">
              <li><a href="/">На головну</a></li>
        </ul>
      </div>
    </div>

	<div class="lgnForm"> 
	 <form method="POST" autocomplete="on">
            <h1> Реєстрація </h1>

            <div class="form-group">
	    		<input path="first_name" id="name_register" class = "form-control" required="required" type="text" placeholder="Ім'я"/>
	  		</div>

	  		 <div class="form-group">
	    		<input path="second_name" id="surname_register"  class = "form-control" required="required" type="text" placeholder="Прізвище"/>
	  		</div>
	
            <div class="form-group">
	    		<input path="email" id="email_register" class = "form-control" required="required" type="email" placeholder="E-mail"/>
	  		</div>
           
            <div class="form-group">
	    		<input id="password_register" path="password" email class = "form-control" required="required" type="password" placeholder="Пароль"/>
	  		</div>
           
           <div class="form-group">
	    		<input id="repeat_password_register"  path="confirmPasword" class = "form-control" required="required" type="password" placeholder="Повторіть пароль"/>
	  		</div>
            <div class="form-group">
    <p class="change_link">
			Маєте аккаунт ? 
			<a href = "/login" class = "pull-right">Увійдіть</a>
		</p>
  </div>
  <button onclick="send_register_data()" >Зареєструватись</button>
		</form>
	</div>
<script src = "/Scripts/test.js" class="btn btn-primary btn-lg"></script>
</body>

</html>