html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-bottom: 60px;*/
  padding-bottom: 100px;
}

.nav {
  background-color: #fff;
}

.nav a {
  color: #5a5a5a;
  
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;  
}


.nav a:hover {color:#5a5a5a;}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url("../static/images/bc.png");
  background-repeat: repeat;
  height: 500px;  
  
}

.jumbotron .container {
  position: relative;
  top:100px;
}

#opac {
    height: 260px;
    width: 100%;  
    background-color: rgba(0,0,0, 0.6);
    color:#e9e4e4;
    font-size: 20px;
    font-family: "Mistral" Cursive;
    padding-left:10%;
}


#opac h3{
    font: mv boli;
}



#startBtn {
  border-radius: 5px;
   background: #00bcdf;
   margin: 5px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

#footer {
height: 50px; 
position: absolute;
bottom: 0;
width: 100%;
background: #a9c9cf;
color: #a9c9cf;
font-size: 15px;
opacity: 0.7 margin-top: -50px;
}


p {
    padding: 10px;
}

.lgnForm {
  padding: 50px;
background-color: #fff;
  width: 400px;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;

}

.wrap {
  background: #a9c9cf;
}

.lgnForm h1 {
  color: #5a5a5a;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  
}

.lgnForm label {
    color: #5a5a5a;
  
}

.lgnForm .change_link {
    color: #5a5a5a;
  font-size: 15px;  
  font-family: 'Shift', sans-serif;
  
}

 .c {
    border: 1px solid white; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: white; /* Цвет текста */
    border-radius: 5px;
  }

   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    
    text-decoration: none; /* Убираем подчёркивание */  
    color: #5a5a5a;
   }



